<% provide(:title, "Transactions") %>
<div class="center jumbotron">
  <h2>
    <% if @transactions.count != 0 %>
      <% @transactions.each do |transaction| %>
        <div><%= transaction.inspect %></div>
      <% end %>    
    <% else %>
      You have no transactions!
    <% end %>
  </h2>
</div>